@charset "utf-8";
/* Font-Face */
@font-face {
font-family:'YDGothic';
font-style:normal;
font-weight:normal;
src:url('YDGothic.eot');
src:local(※), url('YDGothic.woff') format('woff'), url('YDGothic.ttf') format('truetype')
}
@font-face {
font-family:'GillSansLight';
font-style:normal;
font-weight:normal;
src:url('GillSansLight.eot');
src:local(※), url('GillSansLight.woff') format('woff'), url('GillSansLight.ttf') format('truetype')
}
/* reset css */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px;-webkit-text-size-adjust:none;}
img,fieldset{border:0;}
ul,ol{list-style:none;}
em,address,var{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
legend,caption,.blind{overflow:hidden;visibility:hidden;position:absolute;top:0;left:0;z-index:-1;width:1px;height:1px;font-size:0;line-height:0}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.break{word-break:break-all;word-wrap:break-word;}
.chk{vertical-align:middle;margin:-1px 0 1px}
button{border:0;cursor:pointer}
body{background:#fff}

.wrap{ width:1180px; margin:0 auto; overflow: hidden;}
.header{ position: relative; height:70px }
.content{ position: relative; overflow: hidden}
.top_menu{ zoom:1; position: absolute; top:18px; right: 58px}
.top_menu:after{ clear: both; content: ""; display: block}
.top_menu li{ float: left; margin-left: 5px;}
.top_menu li a{ overflow:hidden; display:inline-block; width:25px; height:24px; background: url(../img/sp_ico.gif) no-repeat}
.top_menu li .sp_ico1{ background-position: 0 0}
.top_menu li .sp_ico2{ background-position: -31px 0}
.top_menu li .sp_ico3{ background-position: -61px 0}
.top_menu li .sp_ico4{ background-position: -91px 0}
.header .bt_close{ position: absolute; top:18px; right: 20px;}

.mtb1{ margin:30px 0 40px !important;}

.u_gnb_area { position: relative; }

.u_gnb_area .bx-wrapper { position: relative; margin: 0; padding: 0; *zoom: 1;}
.u_gnb_area .bx-wrapper img { width:100%; max-width: 100%; display: block; }
.u_gnb_area .bx-wrapper a.bx-prev { display:none !important}
.u_gnb_area .bx-wrapper a.bx-next { right:25px; background:url(../img/ico_arr.png) no-repeat; }
.u_gnb_area .bx-wrapper .bx-controls-direction a { overflow:hidden; position:absolute; display:block; width:20px; height:27px; bottom:22px; text-indent: -9999px; z-index:50; }

.u_gnb_area .bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; position: absolute; bottom:10px; left:0; width:100%; z-index: 60}
.u_gnb_area .bx-wrapper .bx-pager .bx-pager-item{ display: inline-block;  *zoom: 1;*display: inline;}
.u_gnb_area .bx-wrapper .bx-pager.bx-default-pager a { background: #fff; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.u_gnb_area .bx-wrapper .bx-pager.bx-default-pager a:hover, .u_gnb_area .bx-wrapper .bx-pager.bx-default-pager a.active { background: #666; }

.main_div{zoom:1; padding:0 15px}
.main_div:after{content:''; display:block; clear:both;}
.main_div > li{float:left;}
.main_div > li .inner{word-break:break-all;word-wrap:break-word;margin:0 5px 10px;width:220px;height:220px;position:relative;background:#F4F2F0}
.main_div li.roll_img .inner{ position: relative; width:450px; height:450px}
.main_div li.sns .inner{ position: relative; width:450px;}
.main_div li.last .more{ display:none}

.main_div li img{vertical-align:top;}
.main_div a .ty1{color:#000}
.main_div .ty1{position:absolute;top:0;bottom:0;left:0;right:0;}
.main_div .ty1 h1{font-family:'GillSansLight';font-size:36px;line-height:36px;font-weight:normal;position:absolute;top:18px;left:15px;z-index:2;font-style:italic;text-shadow:1px 1px 5px #999;}
.main_div .ty1 h1 span{display:block;font-size:26px;color:#A0A9A4;line-height:26px}
.main_div .ty1 h1 .tit{border-top:1px solid #A0A9A4;min-width:134px;padding-right:10px}
.main_div .ty1 .more{background:url(../img/btn_more.png) no-repeat;width:29px;height:29px;position:absolute;bottom:6px;right:9px;z-index:4}
.main_div .thmb{position:absolute;top:0;left:0;right:0; bottom:0; z-index:1;}
.main_div > li.ui-draggable-dragging{ z-index:90}

.bd{ display:block; position:absolute;top:0;left:0; right:0; bottom:0; border:3px solid #fff; margin:5px;opacity:0.6;filter:alpha(opacity=60);}
.main_div .over{ display:none; position:absolute;top:0;left:0; right:0; bottom:0; background:#fff; opacity:0.3;filter:alpha(opacity=30);}

.main_div .ty2{position:absolute;top:0;bottom:0;left:0;right:0;}
.main_div .ty2 h1{display:none;font-family:'GillSansLight';font-size:36px;line-height:36px;font-weight:normal;position:absolute;top:18px;left:15px;z-index:2;font-style:italic;text-shadow:1px 1px 5px #999;}
.main_div .ty2 h1 span{display:block;font-size:26px;color:#A0A9A4;line-height:26px}
.main_div .ty2 h1 .tit{border-top:1px solid #A0A9A4;min-width:134px;padding-right:10px}
.main_div .ty2 .more{ display:none}

.main_div .thmb_sns{position:absolute;top:100px;left:20px;width:300px;}
.main_div .thmb_sns li{font-size:12px;color:#000;line-height:15px;padding-left:30px;margin-bottom:15px;font-family:'윤고딕',YDGothic;}
.main_div .thmb_sns li.ic_facebook{background:url(../img/bu_sns_fb.gif) 0 0 no-repeat;}
.main_div .thmb_sns li a{color:#000}

.layer{ position: absolute; left:100%; top:0; width: 100%; height: 700px;}
.layer .dim{position:absolute;left:0;top:0; bottom:0; width:100%; height: 700px;background:#fff;opacity:0.7;filter:alpha(opacity=70);z-index:100}
.layer .ly_wrap{ position:relative; z-index: 110; padding-right:160px}
.layer .ly_wrap_inner{ position:relative; background: #fff;width: 100%; height: 700px}
.layer .bx-wrapper { position: relative; margin: 0; padding: 0; *zoom: 1; height:700px}
.layer .bx-wrapper img {}
.layer .bx-wrapper a.bx-prev { left:20px; background:url(../img/bt_prev2.png) no-repeat; }
.layer .bx-wrapper a.bx-next { left:189px; background:url(../img/bt_next2.png) no-repeat; }
.layer .bx-wrapper .bx-controls-direction a { overflow:hidden; position:absolute; display:block; width:47px; height:46px; bottom:20px; text-indent: -9999px; z-index:50; }

.layer .infographic_area .bx-wrapper{ height:auto}
.layer .infographic_area .bx-wrapper img { width:945px !important}
.layer .infographic_area  .bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; position:static; padding:20px 0 10px; bottom:10px; left:0; width:100%; z-index: 60}
.layer .infographic_area  .bx-wrapper .bx-pager .bx-pager-item{ display: inline-block;  *zoom: 1;*display: inline;}
.layer .infographic_area  .bx-wrapper .bx-pager.bx-default-pager a { background: #666; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.layer .infographic_area  .bx-wrapper .bx-pager.bx-default-pager a:hover, .layer .infographic_area  .bx-wrapper .bx-pager.bx-default-pager a.active { background: #000; }

.layer .infographic_area .bx-wrapper a.bx-prev { left:20px; background:url(../img/left.png) no-repeat; }
.layer .infographic_area .bx-wrapper a.bx-next { left:auto; right:20px; background:url(../img/right.png) no-repeat; }
.layer .infographic_area .bx-wrapper .bx-controls-direction a { overflow:hidden; position:absolute; display:block; width:21px; height:61px; margin-top:-30px; top:50%; bottom:auto; text-indent: -9999px; z-index:60; }

.layer .ly_cont{ overflow: hidden; zoom:1}
.layer .ly_lft{ float: left; width: 265px; }
.layer .ly_lft_inner{margin:0 30px 0 20px; height:215px; background:url(../img/bg_tit.gif) no-repeat }
.layer .ly_lft_inner .tit{ font-weight:normal; color: #fff; font-family: GillSansLight; font-size:36px; line-height:32px; padding:25px 15px 0 15px}
.layer .ly_rgt{ float: left; width: 727px}
.layer .ly_rgt .line{background:url(../img/bg_line.gif) no-repeat; height: 5px; font-size: 0}
.layer .ly_rgt .scr_area{ overflow-x: hidden; overflow-y: auto; height: 670px;}
.layer .ly_rgt .scr_area_inner{ width:700px}
.layer .ly_close{ position: absolute; top:2px; right:18px}

.scr_cont{ padding:30px 35px 0 30px; background:url(../img/bg_cont.gif) no-repeat 0 10px;}
.scr_cont .tit{ margin-bottom:10px; font-size:20px; line-height:30px; color:#8e5f4b}
.scr_cont .txt{ margin-bottom:21px; font-size:14px; line-height:22px; color:#000}
.scr_cont .img{ margin-bottom:20px; width:auto; max-width:100%; vertical-align:top}

.sub_cont{ padding-left:20px; width:945px; width:972px;}
.sub_cont:after{content:''; display:block; clear:both;}
.sub_cont.bg_none{background:none}
.sub_tit{ width:945px; height:97px; font-size:65px;color:#1a1919;font-family:'GillSansLight';font-weight:normal;margin-bottom:0;position:relative;text-align:center;border-top:1px solid #000;background:url(../img/line_footer.gif) 0 100% repeat-x;padding:13px 0 0}
.sub_tit span{font-size:30px;vertical-align:23px;}
.sub_tit .btn_home{position:absolute;top:25px;right:0;line-height:0;font-size:0}

.sub_cont .scr_area{ position:relative; overflow-x: hidden; overflow-y: auto; height: 520px;}
.sub_cont .scr_area_inner{ width:945px; padding-top:40px}

.sub_cont .tit_bx{font-size:25px;font-family:'윤고딕',YDGothic;letter-spacing:-1px;color:#e6a867;font-weight:bold;text-align:center;}
.sub_cont .tit_bx em{font-family:'tahoma';vertical-align:super;font-size:18px}
.sub_cont .tit_bx p{background:url(../img/bg_tit_c.gif) 50% 100% no-repeat;height:73px;display:inline-block;position:relative; max-width:755px; min-width:348px;}
.sub_cont .tit_bx .bg_left{background:url(../img/bg_tit_left.gif) 0 0 no-repeat;width:185px;height:42px;position:absolute;bottom:0;left:-95px}
.sub_cont .tit_bx .bg_right{background:url(../img/bg_tit_right.gif) 0 0 no-repeat;width:185px;height:42px;position:absolute;bottom:0;right:-95px}
.sub_cont .sub_inner{text-align:center;font-family:'윤고딕',YDGothic;color:#5a4a3d}
.sub_cont .sub_text{background:url(../img/bg_cont1.gif) 0 0 no-repeat;display:inline-block;text-align:center;max-width:900px}
.sub_cont .sub_text_inner{background:url(../img/bg_cont2.gif) 100% 100% no-repeat;display:inline-block;padding:15px 86px 15px 86px;}
.sub_cont .sub_text .txt{font-size:16px;line-height:20px;letter-spacing:-2px;margin:10px 0}
.sub_cont .sub_text .txt strong{font-size:18px;}
.sub_cont .txt2{margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:18px;line-height:26px;font-weight:bold}
/*.sub_cont .txt{padding:0 0 0 80px;margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:14px;line-height:22px}
.sub_cont .txt2{padding:0 0 0 80px;margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:20px;line-height:26px}
.sub_cont .txt3{padding:0 0 0 80px;margin:30px 0 20px;font-family:'윤고딕',YDGothic;font-size:20px;line-height:26px}*/
.sub_cont .r{font-family:'tahoma';vertical-align:super;}
.sub_cont .img{ vertical-align:top;margin-top:5px}
.sub_cont p.img{width:auto;height:auto;max-width:100%; text-align:center}

.sub_cont dl.lst{padding:0 0 0 80px;margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:14px;line-height:22px;text-align:left;}
.sub_cont dl.lst dt{font-weight:bold;color:#1A1919;font-size:16px;margin-bottom:12px;}
.sub_cont dl.lst dd{font-size:14px;line-height:21px;color:#292828;background:url(../img/bu_dl.png) 0 3px no-repeat;padding-left:23px;margin-bottom:10px;}
.sub_cont ol.lst{padding:0 0 0 80px;margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:14px;line-height:22px}
.sub_cont ol.lst li{font-size:14px;line-height:21px;color:#292828;margin-bottom:10px;text-align:left;}
.sub_cont ol.lst li:after{content:''; display:block; clear:both;}
.sub_cont ol.lst li span{float:left;width:30px;background:url(../img/bu_ol.png) 0 0 no-repeat;line-height:30px;color:#fff;text-align:center;margin-right:10px;}
.sub_cont ol.lst li p{float:left;width:800px;padding-top:6px}

.prod_tab{margin:0 auto;text-align:left;margin-top:25px;padding-left:6px}
.prod_tab:after{content:''; display:block; clear:both;}
.prod_tab li{display:inline-block;font-size:14px;background:#C2C4C6;font-weight:bold;letter-spacing:-1px;height:30px;border:solid 0px #fff;-moz-border-radius-topleft: 10px;-moz-border-radius-topright:10px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright:0px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-left-radius:0px;-webkit-border-bottom-right-radius:0px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;margin-left:-6px;vertical-align:bottom;}
.prod_tab li a{color:#fff;display:inline-block;line-height:30px;padding:0 10px;text-decoration:none}
.prod_tab li.on{background:#D5AC4E;height:40px;font-size:18px}
.prod_tab li.on a{line-height:42px;padding:0 15px}
.prod_lst{display:none}
.prod_lst ul{padding:10px 0 30px;background-color:#F4F3F1}
.prod_lst li{padding-top:20px;}
.prod_lst li:after{content:''; display:block; clear:both;}
.prod_lst li .thmb{float:left;width:450px;text-align:center;}
.prod_lst li .thmb img{vertical-align:top;}
.prod_lst li .prod_de{float:left;width:450px;margin-bottom:-1px;padding-top:10px;text-align:left;}
.prod_lst li .prod_de dt{color:#1a1919;font-size:24px;font-family:'윤고딕',YDGothic;line-height:26px;margin-bottom:15px;font-weight:bold;color:#5a4a3d}
.prod_lst li .prod_de dd{color:#1a1919;font-size:16px;font-family:'윤고딕',YDGothic;line-height:20px;border-bottom:1px solid #908075;padding:8px 0 8px}
.prod_lst li .prod_de dd:after{content:''; display:block; clear:both;}
.prod_lst li .prod_de dd .tt{font-weight:bold;width:120px;float:left;}
.prod_lst li .prod_de dd .dc{float:left;width:330px;}
.prod_lst li .prod_de dd.last{border-bottom:none}

.sns_lst ul{margin-left:10px}
.sns_lst ul:after{content:''; display:block; clear:both;}
.sns_lst li{width:218px;height:260px;border:1px solid #B9B2AB;float:left;margin:0 5px 10px 5px;position:relative;}
.sns_lst li a{color:#000}
.sns_lst li .facebook_wrap{background:url(../img/bu_sns_fb.gif) 10px 15px no-repeat;padding-top:15px;}
.sns_lst li .txt{padding:29px 10px 0 10px;line-height:17px;color:#000;font-family:'윤고딕',YDGothic;font-size:12px;max-height:50px;overflow:hidden; word-break:break-all;word-wrap:break-word;}
.sns_lst li .img{margin-top:10px;padding:0 10px}
.sns_lst li .img img{vertical-align:top;}
.sns_lst li .share{position:absolute;bottom:0;height:29px;left:0;right:0;padding:10px 0 0 10px;background-color:#E6A867}
.sns_lst li .share img{vertical-align:top;width:22px;height:22px;background-image:url(../img/sp_sns.png);margin-right:10px;float:left}
.sns_lst li .share img.btn_share{background-position:0 0;}
.sns_lst li .share img.btn_fb{background-position:0 -50px;}
.sns_lst li .share img.btn_tw{background-position:0 -100px;}

.scr_editor{font-family:'윤고딕',YDGothic;color:#5a4a3d;font-size:16px;line-height:20px;letter-spacing:-2px;}

.sub_cont .scr_area_ifr{height: 520px;}
.sub_cont .scr_area_ifr .scr_area_inner{ width:100%; padding-top:0}
.sub_cont .scr_area_ifr iframe{ width:100%; height:520px; overflow-x:hidden; overflow-y:auto; }

.faq_lst{}
.faq_lst ul{font-family:'윤고딕',YDGothic;}
.faq_lst ul li{vertical-align:top;background:url(../img/sp_faq.png) 100% -34px no-repeat;}
.faq_lst ul li dt{background:url(../img/ico_q.png) 1px 11px no-repeat;font-size:14px;padding:12px 30px 11px 20px;line-height:17px;font-weight:bold;border-bottom:1px solid #B2B2B2;cursor:pointer}
.faq_lst ul li dt a{color:#000}
.faq_lst ul li dd{display:none;border-bottom:1px solid #000;background:url(../img/ico_a.png) 0 8px no-repeat;padding:27px 0 14px 0;line-height:18px;font-size:13px;color:#000}
.faq_lst ul li.on{background:url(../img/sp_faq.png) 100% 16px no-repeat;}

.mail_wrap{width:725px;font-family:'윤고딕',YDGothic;padding-top:45px;margin:0 auto}
.mail_wrap:after{content:''; display:block; clear:both;}
.mail_wrap h1{font-size:18px;color:#000;margin:0 0 13px}
.mail_wrap .bx_agree{background:#E3E3E3;height:114px;padding:8px 11px}
.mail_wrap .bx_agree p{line-height:16px;color:#000;height:110px;overflow-x:hidden;overflow-y:auto;}
.mail_wrap .chk_agree{margin:10px 0 60px}
.mail_wrap .sel_desc{font-size:12px;color:#fff;background:#B9B2AB;line-height:23px;padding:0 14px 0 10px;display:inline-block;margin-top:9px}
.mail_wrap .sel_agree{margin-top:19px}
.label_chk,.label_radio{height:18px;padding-left:26px;position:relative;font-size:14px;color:#000;line-height:18px;display:inline-block}
.label_chk input,.label_radio input{ position: absolute;left:0;top:0;width:100%;height:18px;opacity: .01; filter: alpha(opacity=1);}
.label_chk{background: url(../img/sp_chk.gif) 0 1px no-repeat;}
.label_radio{background: url(../img/sp_radio.gif) 0 0 no-repeat;}
label.c_on{background: url(../img/sp_chk.gif) 0 -49px no-repeat;}
label.r_on{background: url(../img/sp_radio.gif) 0 -50px no-repeat;}
.label_radio span{margin-right:5px}
.mail_wrap .send_text{padding-top:12px;}
.mail_wrap .send_text2{padding-top:12px; width:242px; margin:0 auto}
.mail_wrap .send_text .inp{position:relative;margin-top:10px;}
.mail_wrap .send_text .inp label{position:absolute;top:0;left:0;color:#b9b2ab;padding-left:5px;line-height:30px;display:none;}
.mail_wrap .send_text .ip_txt{border:1px solid #B9B2AB;width:230px;height:30px;line-height:30px\9;padding:0 5px;color:#b9b2ab;font-family:'윤고딕',YDGothic;}
.mail_wrap .send_text .ip_txt.focusin{color:#000}
.mail_wrap .send_text .ip_textarea{border:1px solid #B9B2AB;width:713px;height:150px;padding:5px;font-family:'윤고딕',YDGothic;line-height:17px;color:#000}
.mail_wrap .send_text .btn_area{margin-top:12px;}
.mail_wrap .send_text .btn_send{background:url(../img/btn_send.gif) 0 0 no-repeat;width:100px;height:50px;}
.mail_wrap .send_text2 .btn_area{padding-top:15px;}
.mail_wrap .send_text2 .btn_ask{background:#000; width:146px; height:50px; line-height:50px; text-align:center}
.mail_wrap .send_text2 .btn_ask span{font-family:'윤고딕',YDGothic; font-size:18px; letter-spacing:-2px; display:inline-block; padding:0; color:#fff}

.ba_lst{overflow:hidden;width:760px; margin:30px auto 40px}
.ba_lst li{ float:left}